RewriteEngine On
RewriteRule ^download/(.*)$ download.php?file=$1 [NC,L]
RewriteRule ^upload$ upload.php [NC,L]
RewriteRule ^cleanup/(.*)$ cleanup.php?file=$1 [NC,L]

php_value max_execution_time 7200
php_value max_input_time -1
php_value post_max_size 4096M
php_value upload_max_filesize 4096M
php_value memory_limit 256M
